{
  env: {
    browser: true,
  },
  rules: {
    react/no-array-index-key: 0,
    react/jsx-uses-react: 2,
    react/jsx-filename-extension: 0,
    react/prefer-stateless-function: [1],
    react/jsx-uses-vars: 2,
    react/react-in-jsx-scope: 2,
    react/prop-types: 0,
    react/jsx-first-prop-new-line: 0
  }
}
