$bg-color: #00abd7;
$stroke-color: #999;
$exterior-color: #d5d5d5;
$exterior-width: 0px;
$country-border-color: #999;
$country-border-width: 2px;
$state-fill: #d5d5d5;
$state-hover: #d6abd1;
$state-stroke-width: 1.5px;
$municipality-fill: #d5d5d5;
$municipality-hover: #d6abd1;
$municipality-stroke-width: 1px;
$locality-fill: white;
$locality-hover: white;

$size: 800;

html, body {
  width: 100%;
  height: 100%;
  background: transparent;
}

div {
  background: transparent;

  &#main, &#map, &#google-map, &#main div:first-of-type {
    width: 100%;
    height: 100%;
  }
}

html {
  body {
    font-family: "Roboto", sans-serif;
    color: rgb(10%, 10%, 10%);
    margin: 0;

    div#main {
      position: absolute;
      z-index: 10;

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        svg#map {
          g#all {
            path {
              stroke: $stroke-color;
              stroke-width: $state-stroke-width;
            }

            g#outlines {
              rect {
                fill: $bg-color;
              }
            }

            g.boundaries {
              g#exterior {
                path {
                  stroke: $exterior-color;
                  stroke-width: $exterior-width;
                }
              }

              g#country-border {
                path {
                  stroke: $country-border-color;
                  stroke-width: $country-border-width;
                }
              }
            }

            g#localities {
              g.polygon {
                path {
                  fill: $locality-fill;

                  &:hover {
                    fill: $locality-hover;
                  }
                }
              }
            }

            g#municipalities {
              g.polygon {
                path {
                  fill: $municipality-fill;
                  stroke: $municipality-fill;

                  &:not(.fill) {
                    stroke: $stroke-color;
                    stroke-width: $municipality-stroke-width;
                  }

                  &:hover {
                    fill: $municipality-hover;
                  }
                }
              }
            }

            g#states {
              g.polygon {
                path {
                  fill: $state-fill;
                  stroke: $state-fill;

                  &:not(.fill) {
                    stroke: $stroke-color;
                    stroke-width: $state-stroke-width;
                  }

                  &:hover {
                    fill: $state-hover;
                    stroke: $state-hover;
                  }
                }
              }
            }
          }

          background: transparent;

          text {
            font-size: inherit;
          }

          g#all {
            path, line {
              clip-path: url(#clip);
            }

            path {
              &.fill {
                stroke: none;
              }

              &:not(.fill) {
                fill: none;
                stroke-linecap: butt;
              }

              &.hidden {
                stroke: none;
              }
            }

            clipPath {
              rect {
                x: 0;
                y: 0;
                width: $size + px;
                height: $size + px;
              }
            }

            g#outlines {
              rect {
                x: 0;
                y: 0;
              }
            }

            g.boundaries {
              g#exterior {
                path {
                  stroke-linecap: butt;
                }
              }

              g#country-border {
                path {
                  stroke-linecap: butt;
                }
              }
            }

            g#states {
              g.polygon {
                path {
                  stroke-width: 1px;
                }
              }
            }

            g.sectors {
              g.sector-line {
                line {
                  stroke: black;

                  &.weird {
                    stroke: red;
                  }
                }
              }
            }

            g.polygon {
              path {
                stroke-width: 0;
              }

              text {
                font-size: 12px;
              }
            }
          }

          g#loader {
            pointer-events: none;
            path {
              fill: $state-hover;
              fill-opacity: 0.5;
              stroke: $state-hover;
              stroke-width: 0.2px;
            }
          }

          g#label {
            text {
              font-size: 12px;
            }
          }

          g.buttons {
            display: flex;

            g {
              background: none;
              stroke: black;
              cursor: pointer;

              &#geometry-identifier {
                rect {
                  height: 200px;
                }
              }

              &#select-geometries {
                &.enabled {
                  rect {
                    fill: black;
                  }

                  text {
                    fill: white;
                  }
                }
              }

              &#country-selector {
                text:hover {
                  fill: lighten(black, 50%);
                }
              }

              input {
                outline: none;
                border: none;
                width: 130px;
                height: 30px;
                font-size: 16px;

                &::selection {
                  background: lighten(black, 10%);
                  color: white;
                }
              }

              rect {
                fill: white;

                &:not(.zoom-button) {
                  width: 150px;

                  &:not(.special) {
                    height: 50px;
                  }
                }

                &.zoom-button {
                  width: 30px;
                  height: 30px;
                  stroke: black;
                }
              }

              text {
                font-size: 16px;
                fill: black;
              }
            }
          }
        }
      }
    }
  }
}
